{% extends "base_template.html" %}

{% block content %}
<p>
Temporary no parking signs are required to inform the public that vehicles parked in the posted no parking spaces reserved by the sign’s dates and times will be towed to clear the space required for the event.  These signs shall be used to reserve the necessary parking space for a special event such as parades, marathons, commercial or residential moves and other similar needs.  Temporary no parking sign is not intended to be used for parking of personal vehicle.  The issuance of the sign is regulated by the San Francisco Municipal Transportation Agency, effective November 19, 2012. This does not cover posting of temporary no parking sign for construction work. Construction no parking signs are under the purview of the Department of Public Works.
</p>




{% endblock %}